html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; }

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
    opacity: 1;
}

#hint {
    z-index: 9999;
    position: fixed; top: 0; left: 20px;
    font-size: 16px;
    background: #ddd;
    color: #666;
    padding: 6px 12px 12px;
    font-style: italic;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    -webkit-transition-delay: 6s;
    -moz-transition-delay: 6s;
    -ms-transition-delay: 6s;
    -o-transition-delay: 6s;
    transition-delay: 6s;
}

#hint a { text-decoration: underline; font-style: italic; }

#hint:hover {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -moz-transition:    opacity .25s;
    -ms-transition:     opacity .25s;
    -o-transition:      opacity .25s;
    transition:         opacity .25s;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 75px; }
.subtitle { font-size: 40px; color: #2a2a2a; margin-top: 30px }
.title-secondary { font-size: 125px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap {	margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link {	text-decoration: none; margin-top: 20px; margin-bottom: 10px}
.img-icon {	text-decoration: none; padding-top: 30px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 10px}
.img-partenaire { text-decoration: none; padding-top: 20px; padding-bottom: 20px; margin-top: 20px; margin-bottom: 10px}
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity .5s;
    -moz-transition:    opacity .5s;
    -ms-transition:     opacity .5s;
    -o-transition:      opacity .5s;
    transition:         opacity .5s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0; }

/* Spec. css */
#top1000-part1 { font-size: 35px; color: #2a2a2a; line-height:40px }
#top1000-part2 { font-size: 28px; color: #2a2a2a; line-height:40px }
#sommes-nous { font-size: 30px; padding-top: 25px;}
.cite { display: block; padding: 20px; margin-top: 30px; font-size: 10px; font-weight: 400; }
.pinyin { display: block; padding: 20px; font-weight: 400; color: #2a2a2a; }
.dialogue { display: block; padding: 20px; font-weight: 400; text-align:left; font-size:40px; }
.dialogue-pinyin { display: block; padding: 10px; font-weight: 400; color: #2a2a2a; text-align:left; font-size:15px; margin-left:140px; }

/*
 * Open Sans Font
 */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*! normalize.css 2011-08-31T22:02 UTC · http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block}[hidden],audio:not([controls]){display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}body,button,input,select,textarea{font-family:sans-serif}a{color:#00e}a:visited{color:#551a8b}a:active,a:focus,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ol,ul{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ol,nav ul{list-style:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure,form{margin:0}fieldset{margin:0 2px;padding:.35em .625em .75em}legend{border:0}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}